@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* Making the scrollbar relatively thin */
}

/* Track (the background) */
::-webkit-scrollbar-track {
    background: rgba(15, 15, 15, 0.95);
    /* Dark base for track */
}

/* Handle (the part you drag) */
::-webkit-scrollbar-thumb {
    background: rgba(34, 211, 238, 0.4);
    /* Faded Cyan */
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle on hover (the glowing effect) */
::-webkit-scrollbar-thumb:hover {
    background: rgba(34, 211, 238, 0.8);
    /* Strong Cyan */
    box-shadow: 0 0 10px rgba(34, 211, 238, 0.8);
}